# Python and Virtual Environments
env/
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Git version control
.git/
.gitignore

# Environment variables and secrets
# (Do not include .env in the image for security reasons)
.env
.dockerignore

# Databases
# (Excludes local SQLite files)
*.sqlite3

# Logs and temporary files
*.log
tmp/
.cache/

# System files
.DS_Store
Thumbs.db

# Optional: Media and Static files
# (Uncomment if you want to exclude uploaded media during builds)
# media/
# static/